html {
    background-color: #3B1E08;
}

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-Log: #3B1E08;
    --border-radius: 4px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-size: cover;
}

.container {
    width: 24rem;
    max-width: 24rem;
    height: 30rem;
    max-height: 30rem;
    margin: 5rem;
    padding: 4rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #dddddd;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}


.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 6rem;
    text-align: center;
}


.form__input-group {
    margin-bottom: 2rem;
}

.form__input {
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.90rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 4px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

    .form__input:focus {
        text-align: center;
        border-color: var(--color-Log);
        background: #ffffff;
    }

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background-color: #3B1E08;
}

    .form__button:hover {
        /*color: #C5C6D0;*/
        background-color: #65350F;
    }

    .form__button:active {
        transform: scale(0.98);
    }

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

    .form__link:hover {
        text-decoration: underline;
    }


.errormessage {
    color: red;
}

.form {
    position: relative;
}

.form__version {
    position: absolute;
    right: -12%;
    bottom: -30%;
}
