
.form-section {
    min-width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    background-color: #f9f9f9;
    /* box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);  Shadow */
    position: relative;
}
/* The titles of each section*/
.section-title {
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #f9f9f9;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*.General {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 2%;
}*/

textarea {
    resize: none;
}

.styled-button {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 20px;
}

Change style when hovering over the button
.styled-button:hover {
    background-color: #ddd;
    border: 1px solid #999;
}

.OracleText {
    color: #b45f06;
}
.error-message{
    color:red;
}
input.form-control:disabled{
    background-color:#fff !important;
}
textarea.form-control:disabled {
    background-color: #fff !important;
}
select.form-control:disabled {
    background-color: #fff !important;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #3B1E08;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

    #scrollToTop:hover {
        background-color: #65350F;
    }

.form-control {
    margin-left: 15px;
}

#btn-legalEntity, #btn-approver {
    margin-left: -95px;
}

#form-AddApprover, #form-AddLegalEntity {
    margin-left: -2px;
}

#btn-addLegalEntity, #btn-addAppover {
    margin-top: 27px;
}

#dates {
    margin-top: 15px;
}

#form-Dates {
    margin-top: 8px;
    margin-left: -8px;
}

#form-Currents {
    margin-left: 50px;
}

#form-Prior {
    margin-left: 23px;
}