.dt-button.filterButton {
    white-space: nowrap !important;
    margin-right: 10px !important;
    border: none !important;
    background: none !important;
    font-size: 14px !important;
    display: inline-table !important
}

.dataTables_wrapper {
    /*margin-left: -300px;
    width: 150%;*/ /* Set initial width to 95% */
    /*max-width: 150%;*/ /* Set maximum width to ensure full width on smaller screens */
    /*padding-right: 5px;*/ /* Adjust padding for smaller screens */
    /*padding-left: 5px;*/ /* Adjust padding for smaller screens */
    /*margin-right: auto;*/
    margin-left: -150px;
    width: 125%; /* Set initial width to 95% */
    max-width: 130%; /* Set maximum width to ensure full width on smaller screens */
}

.button-container {
    display: flex;
    align-items: center;
}

tfoot input {
    display: table-header-group;
    width: 100%;
    box-sizing: border-box;
}

.dataTables_filter input {
    width: 300px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}


.scrollable-content {
    max-height: 100px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Thin scrollbar for WebKit-based browsers (like Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
    width: 10px;
}

/* Thin scrollbar for Firefox */
.scrollable-content {
    scrollbar-width: thin;
}
/*Loading spinner*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.custom-spin {
    display: inline-block;
    animation: spin 2s linear infinite
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 100;
}

.hidden {
    display: none;
}

.spinner-text {
    font-size: 20px;
}